nav {
background-color: #F8CBA6;
display: flex;
justify-content: space-between;
color: #ECF9FF 
}

.brand-name{
    font-size: 2rem;
}
nav img {
    width: 50px;
}

.navbar-collapse {
    display: flex;
    text-align: center;
    flex-grow: 0 !important;
    font-size: 1.25rem;
    /* flex-basis: none; */
}
nav.navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav a, .brand-name{
    /* border: 1px solid red; */
    text-decoration: none;
    color: #5ec4f4;
    font-weight: 600;
}

.navbar-brand {
    position: relative;
}
.brand-name {
 position: absolute;
  bottom: 2px
}
.navbar-nav {
    display: flex;
    gap: 2rem;
}