
form {
    display: flex;
    flex-direction: column;
}

.signup-container {
    border: 1px solid red !important;
    display: flex;

}

.signup-header {
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
}

