nav {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  color: #1a120b;
}

.brand-name {
  font-size: 2rem;
}
nav img {
  width: 55px;
}

.navbar-collapse {
  display: flex;
  text-align: center;
  flex-grow: 0 !important;
  font-size: 1.25rem;
  /* flex-basis: none; */
}
nav.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

nav.navbar > *:nth-last-child(1) > * {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
nav a,
.brand-name {
  /* border: 1px solid red; */
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
}

.navbar-brand {
  position: relative;
}
.brand-name {
  position: absolute;
  bottom: 2px;
}
.navbar-nav {
  display: flex;
  gap: 2rem;
}

.navbar button {
  border: none;
  border-radius: none !important;
  /* background-color: var(--secondary-color); */

  transition: background .75s;
  background-color: var(--secondary-color);
}

.navbar button:hover {
  background: linear-gradient(90deg, #aac9c9, transparent) #4f8383;
}



.navbar button span {
  color: black;
}
